<div class="main meals-index">
    <div class="container">
        <center>
            <h1 class="users-heading">shared links(<%=ltype%>)</h1>

            
            <button onclick="location.href='/links/society'" type="button" class="btn btn-outline-primary">Society</button>
            <button onclick="location.href='/links/self_confidence'" type="button" class="btn btn-outline-secondary">Self confidence</button>
            <button onclick="location.href='/links/self_progress'" type="button" class="btn btn-outline-success">Self progress</button>
            <button onclick="location.href='/links/relationship'" type="button" class="btn btn-outline-warning">Relationship</button>
            <button onclick="location.href='/links/future_plan'" type="button" class="btn btn-outline-info">Future plan</button>
            <button onclick="location.href='/links/health'" type="button" class="btn btn-outline-light">Health</button>
         
        </center>
        <%img_name="/#{ltype}.png"%>
        <img class="img-fluid" src=<%=img_name%>>
        <% @links.each do |link|%>
        <div class="posts-index-item">
            <div class="post-title">
                <%= link_to(link.title,"#{link.url}")%>
            </div>
            <div class="post-user-name">
                <p>
                    <%=link.about%>
                </p>
                
            </div>
        </div>
        <% end%>
    </div>
</div>